<!DOCTYPE html>
<html lang="en" data-ng-app="contact">

<head>
	<meta charset="UTF-8" />
	<title>.: HUSNARA BANO :. </title>
	<!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Phoenixcoded" />

	<!--Favicon-->
	<link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="assets/images/favicon.png" type="image/x-icon">

	<!-- Required Framework-->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

	<!-- Google font & font-awasome-->
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Josefin+Sans:400,300,600,700' rel='stylesheet'
		type='text/css'>

	<!-- Style css -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<!-- Reset css -->
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">

	<!-- Responsive css -->
	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

</head>

<body data-ng-controller="ContactController">
	<div id="main_loader">
		<div id="loader">
			<div></div>
		</div>
	</div>
	<nav class="cd-side-navigation sidebar left" id="myDIV" data-banner>
		<ul>
			<li>
				<a href="index.html">
					<span class="home_icon"></span>
					<span>Home</span>
				</a>
			</li>
			<li>
				<a href="resume.html">
					<span class="resume_icon"></span>
					<span>Resume</span>
				</a>
			</li>
			<li>
				<a href="portfolio.html">
					<span class="portfolio_icon"></span>
					<span>Portfolio</span>
				</a>
			</li>
			<li>
				<a href="blog.html">
					<span class="blog_icon"></span>
					<span>Blog</span>
				</a>
			</li>

			<li>
				<a href="contact.html" class="selected">
					<span class="cont_icon"></span>
					<span>Contact us</span>
				</a>
			</li>
		</ul>
	</nav>
	<div class="sidebar-btn toggle_icon_block" data-action="toggle" data-side="left" data-ng-click="ShowHide()">
		<div class="toggle_icon {{className}}">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<main class="cd-main">
		<section class="cd-section contact visible">
			<div class="container">
				<div class="ptb-60">

					<h1 class="title">Contact <span class="bolder">Us</span></h1>
					<p class="mb40">
						Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through
						client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize
						client-centric tals rather than focused web-readiness. Intrinsicly monetize reliable interfaces rather than multimedia
						based experiences. synergistic networks. Quickly rather than multimedia based Collaboratively synergize economically
						sound process improvements with functionalized e-commerce.
					</p>

					<div class="row">
						<div class="col-sm-6">
							<div data-ui-gmap-google-map data-center="map.center" data-zoom="map.zoom" data-options="options">
								<div data-ui-gmap-marker data-coords="marker.coords" data-idkey="marker.id">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<h3>Keep in Touch</h3>
							<div class="cont_info">
								<h5>
									<strong>Address :</strong>
									<span>308, Royal Square, Nr. Anand petrol pump, Utran, Surat - 395006</span>
								</h5>
								<h5>
									<strong>Email :</strong>
									<span>demo@gmail.com</span>
								</h5>
								<h5 class="mb30">
									<strong>Phone :</strong>
									<span>(0261) - 5436754</span>
								</h5>
							</div>

							<h3>We are waiting to Assist you</h3>
							<p class="mb30">
								This is Photoshop's version of Lorem Ipsum. Proin gravid nibh vel velit auctor aliquet.
							</p>
							<h6 class="system_font_color mb30">Simply use the form below to get in touch</h6>

							<form class="form-horizontal" name="Contactuser" novalidate>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" class="form-control" name="first_name" placeholder="Your Name" id="first_name" required="" data-ng-model="ContactFName"
											data-ng-required="true">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="number" class="form-control" placeholder="Contact No." name="contact_no" id="contact_no" required="" data-ng-model="ContactNO"
											data-ng-required="true">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" class="form-control" placeholder="Email Address" name="contact_email" id="contact_email" required="" data-ng-model="ContactEmail"
											data-ng-required="true">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<textarea class="form-control" rows="4" cols="50" placeholder="Message" name="contact_message" id="contact_message" required=""
											data-ng-model="ContactMessage" data-ng-required="true"></textarea>
									</div>
								</div>
								<div class="mob_center">
									<button class="btn system_btn" data-ng-click="send_form()">Send Message</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 text-left">
								<h6> Design by <a href="" target="_blank">Husnara Bano</a> </h6>
						</div>
						<div class="col-sm-6 text-right">
							<h6> Copyright &copy; <span id="copyright-year">2016</span>. All rights reserved </h6>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</main>

	<!-- Warning Section Starts -->
	<!-- Older IE warning message -->
	<!--[if lt IE 9]>
<div class="ie-warning">
	<h1>Warning!!</h1>
	<p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
	<div class="iew-container">
		<ul class="iew-download">
			<li>
				<a href="http://www.google.com/chrome/">
					<img src="assets/images/browser/chrome.png" alt="">
					<div>Chrome</div>
				</a>
			</li>
			<li>
				<a href="https://www.mozilla.org/en-US/firefox/new/">
					<img src="assets/images/browser/firefox.png" alt="">
					<div>Firefox</div>
				</a>
			</li>
			<li>
				<a href="http://www.opera.com">
					<img src="assets/images/browser/opera.png" alt="">
					<div>Opera</div>
				</a>
			</li>
			<li>
				<a href="https://www.apple.com/safari/">
					<img src="assets/images/browser/safari.png" alt="">
					<div>Safari</div>
				</a>
			</li>
			<li>
				<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
					<img src="assets/images/browser/ie.png" alt="">
					<div>IE (9 & above)</div>
				</a>
			</li>
		</ul>
	</div>
	<p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
	<!-- Warning Section Ends -->

	<!-- Required js -->
	<script src="assets/js/jquery.2.2.3.min.js"></script>
	<script src="assets/js/jquery.easing.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Mobile Sidebar menu js  -->
	<script src="assets/js/jquery.sidebar.min.js"></script>

	<!--AngularJs script start-->

	<script src="assets/angularJS/angular.min.js"></script>

	<!--Module script-->
	<script src="assets/modules/ContactModule.js"></script>

	<!--controller script-->
	<script src="assets/controllers/ContactController.js"></script>

	<!-- Angular-map -->
	<script src="assets/angularJS/angular-google-maps.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="assets/angularJS/lodash.min.js"></script>

	<!--AngularJs script end-->

</body>

</html>